<% tweet = Tweet.new %>
<%= form_with(model: tweet, local: true) do |form| %>

  <div class="field">
    <%= form.label :post %>
    <%= form.text_field :post, id: :tweet_post %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
